<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.missxhh.demo.es.mapper.ArticleMapper">
    <resultMap id="article" type="com.missxhh.demo.es.model.Article">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"></result>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"></result>
        <result column="title" property="title" jdbcType="VARCHAR"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="keywords" property="keywords" jdbcType="VARCHAR"></result>
        <result column="cover_img" property="coverImg" jdbcType="VARCHAR"></result>
        <result column="link_url" property="linkUrl" jdbcType="VARCHAR"></result>
        <result column="content" property="content" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="baseColumn" >
        id,create_by,update_by,title,description,keywords,cover_img,link_url,content
    </sql>
    
    <select id="findAll" resultMap="article">
        select
        <include refid="baseColumn"></include>
        from pc_blog
    </select>

</mapper>